# Config specific
device: "cuda"              # <-- device                                  (default: cuda)
num_workers: 8              # <-- number of process for the dataloader    (default: 2)

# Dataset configuration
dataset:                    # MANDATORY                                   (default: Only available in config file not in CLI)
  type: "MNIST"             # MANDATORY Dataset type: "MNIST", "CIFAR10" (TODO), "CIFAR100" (TODO), "ImageFolder" (TODO)
  root: "./data/mnist"      # Root directory for dataset storage
  download: true            # Whether to download the dataset if not present
  # TODO: Add transform configuration in future
  # train_transforms:
  #   preset: "classification_train"
  # test_transforms:
  #   preset: "classification_test"

# Model configuration
model:                      # MANDATORY                                    (default: Only available in config file not in CLI)
  type: "ViT"               # MANDATORY Model type: "ViT", "AlexNet", "MLP", etc ...
  img_size: 224             # Image size (ViT)
  in_channels: 3            # Number of input channels
  patch_size: 16            # Patch size (ViT)
  nb_blocks: 11             # Number of transformer blocks (ViT)
  embed_dim: 768            # Embedding dimension (ViT)
  num_heads: 12             # Number of attention heads (ViT)
  out_classes: 10           # Number of output classes

# Hyperparameters
batch_size: 4096            #                                             (default: 32)
epochs: 90                  #                                             (default: 90)

# Optimizer configuration
optimizer:                  # MANDATORY                                   (default: Only available in config file not in CLI)
  type: "Adam"              # MANDATORY Any parameters available in the doc
  betas: [0.9, 0.999]       # ...
  lr: 0.001                 # ...
  weight_decay: 0.03        # ...

# Criterion (loss function) configuration
criterion:                  # MANDATORY                                   (default: Only available in config file not in CLI)
  type: "CrossEntropyLoss"  # MANDATORY Any parameters available in the doc
  label_smoothing: 0.1      # ...

# Learning rate scheduler configuration
scheduler:                  #                                             (default: Only available in config file not in CLI)
  type: "LinearLR"          # ...

# File save/logs settings
run_dir: "runs/model"       # <-- path to save the model during training  (default: runs/)
tb_dir: "tb-output"         # <-- path to save the tensorboard files      (default: tb-output/)
max_keep: 2                 # <-- max number of model to be saved         (default: 2)